*{
    font-family: UbuntuMono Nerd Font;
    font-size: 22px;
    min-height: 0;
    border-radius: 0;
}
window#waybar {
    background-color: rgba(255,255,255,0.8);
}
#clock,
#pulseaudio,
#tray,
#language,
#window,
#taskbar,
#backlight,
#battery,
#network
{
    color: #35557c;
    padding: 0 5px;
    margin: 0 0px;
}
#taskbar button:hover {
    color: #ffebb8;
}
#taskbar button.minimized{
    border-bottom: 3px solid #9933cc;
}
#taskbar button.active{
    border-bottom: 3px solid #0033ff;
}
#custom-Arch {
    font-size: 20px;
    color: #000000;
    padding: 0 10px;
    margin: 0 0px;
}
